.sidebutton-item{
    text-decoration: none;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
    line-height: 30px;
    font-size: 20px;
    color: white;
}
.sidebuttonActive{
    text-decoration: none;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
    line-height: 30px;
    font-size: 21px;
    color: rgb(231, 6, 6);
    text-decoration: none;
    font-style: none;
}